@font-face {
  font-family: Daydream;
  src: url(Daydream.ttf) format("truetype");
}

@font-face {
  font-family: BM_Pixel;
  src: url(BM_Pixel.otf) format("truetype");
}

html,
body {
  height: 100%;
}

#container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  gap: 0px 0px;
  grid-auto-flow: row;
}

#logo {
  /* font-family: BM_Pixel; */
  font-family: Daydream;
  color: aliceblue;
  font-size: 5vw;
  text-align: right;
  /* text-shadow: 2px 2px 2px #404040; */

  color: #404040;
}

.tools {
  grid-area: 1 / 2 / 1 / 2;
}

#screen {
  grid-area: 1 / 1 / 1 / 1;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  align-items: start; /* Prevent stretching vertically */
  justify-items: start; /* Prevent stretching horizontally */
}

.project {
  position: relative;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fills the container */
  transition: opacity 0.3s ease; /* Smooth fade-out effect */
}

.project-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  font-size: 1rem;
  text-align: center;
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease; /* Smooth fade-in effect */
}

.project:hover .project-text {
  opacity: 1;
}

.project:hover .project-image {
  opacity: 0;
}

/* Default state: Show Image */
.project.show-image .project-image {
  opacity: 1;
}
.project.show-image .project-text {
  opacity: 0;
}
.project.show-image:hover .project-image {
  opacity: 0;
}
.project.show-image:hover .project-text {
  opacity: 1;
}

/* Default state: Show Text */
.project.show-text .project-text {
  opacity: 1;
}
.project.show-text .project-image {
  opacity: 0;
}
.project.show-text:hover .project-text {
  opacity: 0;
}
.project.show-text:hover .project-image {
  opacity: 1;
}

.project-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 125px 0px 0px hsl(var(--shadow-color, 0, 100%, 100%, 0));
}
