@font-face {
  font-family: Dokdo;
  src: url(Dokdo.ttf) format("truetype");
}

@font-face {
  font-family: FreckleFace;
  src: url(FreckleFace.ttf) format("truetype");
}

@font-face {
  font-family: Diatype;
  src: url(diatype.otf) format("truetype");
}

html {
  -webkit-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
}

html,
body {
  height: 100%;
  font-family: Diatype;
  margin: 0;
  /* background-color: black; */
}

#container {
  display: grid;
  grid-template-columns: 4fr 1fr;
  grid-template-rows: 100%;
  height: 100vh;
  gap: 0px 0px;
  grid-auto-flow: row;
  overflow: hidden; /* Prevent scrolling on the entire page */
}

.mq-container {
  display: none;
}

.logo {
  font-family: Dokdo;
  font-size: 5vw;
  margin: 0;
  margin-top: 5vh;
  line-height: 4vw;
  color: hsl(var(--text-hue, 0) 100% var(--text-light, 0%));
}

#logo-20anniv {
  margin-top: 2rem;
  margin-bottom: 5vh;
  width: 15vw;
  color: hsl(var(--text-hue, 0) 100% var(--text-light, 0%));
}

#sidebar {
  grid-area: 1 / 2 / 1 / 2;
  overflow-y: auto; /* Prevent all scrolling */
  /* margin-right: 10px; */
  text-align: center;
}

.tools {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;
  gap: 0px 0px;
  grid-template-areas:
    "hue light"
    "buttons buttons";
  /* height: 40vh; */
}

#buttons {
  grid-area: buttons;
  margin-top: 6vh;
}

#hue-slider {
  grid-area: hue;
  height: 35vh;
  accent-color: black;
  /* -webkit-appearance: slider-vertical; */
}

#light-slider {
  grid-area: light;
  height: 35vh;
  accent-color: black;
}

.span-button span {
  color: white;
  padding: 5px 10px;
  background-color: black;
  cursor: pointer;
}

.span-button span:hover {
  font-style: italic;
  color: white;
  background-color: #ddd92a;
  font-size: large;
}

.span-button .disabled {
  cursor: not-allowed;
  background-color: gray;
  pointer-events: none; /* Disables click events */
}

.toggle-element {
  position: relative;
  transition: opacity 0.3s ease; /* Add transition for smooth opacity toggle */
}

#about {
  font-size: medium;
  /* margin-top: 2rem; */
  padding-left: 15vw;
  padding-right: 15vw;
  grid-area: 1 / 1 / 1 / 1;
  text-align: center;
  cursor: pointer;
  line-height: 1.5rem;
  overflow-y: auto; /* Enable vertical scrolling */
}

#about a {
  text-decoration: none;
  color: #ddd92a;
}

#about a:hover {
  margin: auto;
  color: #ff69b4;
  font-style: italic;
  font-size: 15px;
}

pre {
  font-family: Diatype;
}

#all-projects {
  grid-area: 1 / 1 / 1 / 1;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(175px, 1fr));
  grid-template-rows: auto;
  grid-auto-flow: row;
  row-gap: 20px;
  align-items: center;
  justify-items: center;
  overflow-y: auto; /* Enable vertical scrolling */
  overflow-x: hidden; /* Disable horizontal scrolling */
  margin-left: 15px;
  padding-top: 15px;
  padding-bottom: 15px;
}

.hidden {
  opacity: 0; /* Make element invisible */
  pointer-events: none; /* Prevent interaction when hidden */
}

.project {
  position: relative;
}

.project:hover {
  z-index: 2;
}

.project-image {
  width: 100%;
  height: 100%;
  object-fit: cover; /* Ensure the image fills the container, not sure if necessary */
  transition: opacity 0.3s ease; /* Add transition for smooth opacity toggle */
}

.project-image img {
  display: block;
  /* filter: grayscale(100%) sepia(100%) hue-rotate(300deg) saturate(200%); */
}

.project-image::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  box-shadow: inset 125px 0px 0px
    hsla(
      var(--shadow-hue, 0),
      100%,
      var(--shadow-light, 50%),
      var(--shadow-alpha, 0)
    );
}

.project-text {
  display: flex;
  position: absolute;
  box-sizing: border-box;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  padding: 10% 10%;
  border: hsl(var(--text-hue, 0) 100% var(--text-light, 0%)) solid 2px;
  font-size: smaller;
  text-align: center;
  justify-content: center;
  align-items: center; /* Center vertically */
  opacity: 0; /* Hidden by default */
  transition: opacity 0.3s ease; /* Add transition for smooth opacity toggle */
  color: hsl(var(--text-hue, 0) 100% var(--text-light, 0%));
  background-color: white;
}

.project:hover .project-text {
  opacity: 1;
}

.project:hover .project-image {
  opacity: 0;
}

/* Default state: Show Image */
.project.show-image .project-image {
  opacity: 1;
}
.project.show-image .project-text {
  opacity: 0;
}
.project.show-image:hover .project-image {
  opacity: 0;
}
.project.show-image:hover .project-text {
  opacity: 1;
}

/* Default state: Show Text */
.project.show-text .project-text {
  opacity: 1;
}
.project.show-text .project-image {
  opacity: 0;
}
.project.show-text:hover .project-text {
  opacity: 0;
}
.project.show-text:hover .project-image {
  opacity: 1;
}

/* template formatting start */

#project-header {
  /* margin: 3%; */
  margin-left: 3%;
  margin-right: 3%;
  line-height: 1.7em;
  font-size: 14px;
}

#project-header a {
  text-decoration: none;
  color: #ddd92a;
}

#project-header a:hover {
  /* background-color: #c0fdfb; */
  color: #0d1321;
  font-style: italic;
}

#title {
  text-align: center;
  font-size: 16px;
}

#name,
#qualifiers,
#link {
  text-align: center;
}

ul {
  list-style-type: none;
  margin-top: 0;
  padding: 15px;
  overflow: hidden;
  background-color: none;
}

li {
  float: left;
}

li a {
  display: block;
  color: #ddd92a;
  text-align: center;
  padding: 10px 12px;
  text-decoration: none;
  font-size: 16px;
}

li a:hover:not(.active) {
  color: black;
  font-style: italic;
}

.project-body {
  display: grid;
  grid-template-columns: 2fr 1fr;
  grid-template-rows: auto auto;
  grid-auto-columns: 1fr;
  gap: 1em 2em;
  grid-auto-flow: row;
  grid-template-areas:
    "project-top project-right"
    "project-bottom project-right";
}

.project-top {
  grid-area: project-top;
}

.project-right {
  grid-area: project-right;
  top: 2em;
}

#right-contents {
  top: 2em;
  position: sticky;
}

.project-bottom {
  grid-area: project-bottom;
}

#bottom-details {
  display: none;
}

.related-project:hover {
  cursor: pointer;
}

#main-img img,
video {
  display: block;
  width: 100%;
}

#supp-img img {
  display: block;
  /* margin-left: auto; */
  /* margin-right: auto; */
  margin-bottom: 1em;
  width: 100%;
}

/* smaller screen */
@media (max-width: 850px) {
  .project-body {
    display: grid;
    grid-auto-columns: 1fr;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    gap: 1em 1em;
    grid-template-areas: "project-top" "project-right" "project-bottom";
  }

  #bottom-details {
    display: block;
  }

  #right-details {
    display: none;
  }
}

/* template formatting end */

@media (max-width: 900px) {
  #container {
    display: none;
  }

  #sidebar {
    display: none;
  }

  #all-projects {
    display: none;
  }

  .mq-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 4fr 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "main-content"
      "tools";
  }

  .main-content {
    grid-area: main-content;
  }

  .tools {
    grid-area: tools;
  }
}

/* slider formatting */
input[type="range"] {
  writing-mode: vertical-lr;
  align-self: stretch;
}
